
/* Fontface */
@font-face { font-family: 'gotham_htfbook';  src: url('../fonts/gothamhtf-book-webfont.eot'); src: url('../fonts/gothamhtf-book-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/gothamhtf-book-webfont.woff2') format('woff2'), url('../fonts/gothamhtf-book-webfont.woff') format('woff'), url('../fonts/gothamhtf-book-webfont.ttf') format('truetype'), url('../fonts/gothamhtf-book-webfont.svg#gotham_htfbook') format('svg'); font-weight: normal; font-style: normal; }
.wrap{ margin-top:20px;}
form{ margin-bottom:20px;}

.form-control{ border:1px solid #707070; box-shadow:none; border-radius:0;}
.form-control:focus{}

.form-group label{ color:#808080;  font-family: 'gotham_htfbook'; font-weight:normal; font-size:16px;}
.btn-submit{ background:url(../images/search-btn.png) no-repeat; width:41px; height:35px; overflow:hidden; display:inline-block; text-indent:-97px; border:0; background-color:transparent; margin-top:25px; border-radius:0; float:right; margin-right:15px;}

/* ============================================ *
 * Custom Select
 * ============================================ */
.select-wrapper{display:inline-block; font-size:15px; background-color:#fff; color:#808080; padding:0; border:1px solid #707070; cursor:pointer; position:relative}
.select-wrapper, .select-wrapper select{width:100%; height:34px; line-height:34px}
.select-wrapper select{width:99%; left:0; top:0}
.select-wrapper .holder{margin:0 30px 0 5px; white-space:nowrap; overflow:hidden; cursor:pointer; /*position:relative; */padding:1px 0px; font-size:14px; font-family: 'gotham_htfbook';  color:#808080; text-transform:capitalize; line-height:19px}
.select-wrapper .holder:after{content:''; float:right; margin:0px; height:34px; background:url(../images/select-arrow.png) no-repeat 0 10px; position:absolute; right:0px; width:30px; top:-1px}
.select-wrapper select, .pager .limiter .select-wrapper select{margin:0; position:absolute; z-index:2; cursor:pointer; outline:none; opacity:0; /* CSS hacks for older browsers */_noFocusLine:expression(this.hideFocus=true); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter:alpha(opacity=0); -khtml-opacity:0; -moz-opacity:0}
.select-wrapper select option{padding:3px 5px}

/*Radio and check box*/
.radio-check-group{border-bottom:3px solid #fff; padding:24px 0;}
.radio-group, .checkbox-group{ width:50%; display:inline-block; float:left;}
.radio-group{ padding-right:30px;}
.checkbox-group{padding-left:30px;}

.radio, .checkbox{ margin:0;}
.radio + .radio, .checkbox + .checkbox{margin:0;}
.radio label, .checkbox label{ padding:5px 0 5px 40px; line-height:28px; margin:0;}
.radio label{ background:url(../images/radio-btn.png) no-repeat 0 -169px;}
.radio.disabled label{ background:url(../images/radio-btn.png) no-repeat 0 -344px; color:#c1c1c1;}
.radio label.radio_on{ background-position:0 5px;}

.radio input[type=radio]{ opacity:0;}
.radio input[type=radio]:checked{opacity:0;}

.checkbox label{ background:url(check-btn.png) no-repeat 0 -174px;}
.checkbox.disabled label{ background:url(check-btn.png) no-repeat 0 -349px; color:#c1c1c1;}
.checkbox label.check_on{ background-position:0 0;}

.checkbox input[type=checkbox]{opacity:0;}
.checkbox input[type=checkbox]:checked{opacity:0;}


.table-info{ border-bottom:1px solid #d0d0d0; margin-bottom:10px; font-family: 'Open Sans', sans-serif; font-weight:400;}
.table-info:after, .table-info:before, form:after, form:before{display: table; content: " ";}
.table-info:after, form:after{clear:both;}

.table-bordered{ border:0;}
.table-bordered > tbody > tr.viewmore-wrap > td.viewmore, .table-bordered > thead > tr > th.viewmore-th{ display:none;}

.table-bordered > thead > tr > th{ background:#dadee2; border-bottom:1px; border-right:1px solid #c9c9c9; color:#01546e; vertical-align:middle; font-family: 'Open Sans', sans-serif; font-weight:600;}
.table-bordered > tbody > tr > td{font-family: 'Open Sans', sans-serif; font-weight:400;}
.table-bordered > tbody > tr > td span.title{ display:none;}
.btn-grp{ padding:10px 0; border:0; text-align:right;}
.btn-grey{ background: #ecedf0; /* Old browsers */
background: -moz-linear-gradient(top,  #ecedf0 0%, #c9ced5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ecedf0), color-stop(100%,#c9ced5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ecedf0 0%,#c9ced5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ecedf0 0%,#c9ced5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ecedf0 0%,#c9ced5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ecedf0 0%,#c9ced5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecedf0', endColorstr='#c9ced5',GradientType=0 ); /* IE6-9 */
border:1px solid #d0d0d0; border-radius:0; height:40px; padding:0 15px; min-width:120px;
}
.btn-grey-active{background: #6ca2b3; /* Old browsers */
background: -moz-linear-gradient(top,  #6ca2b3 0%, #016483 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6ca2b3), color-stop(100%,#016483)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #6ca2b3 0%,#016483 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #6ca2b3 0%,#016483 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #6ca2b3 0%,#016483 100%); /* IE10+ */
background: linear-gradient(to bottom,  #6ca2b3 0%,#016483 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ca2b3', endColorstr='#016483',GradientType=0 ); /* IE6-9 */
border:1px solid #5997aa; border-radius:0; height:40px; padding:0 15px; min-width:120px; color:#fff;
}
.btn-grey-active:hover{ color:#fff;}

/*page2 css*/

.heading{ background:#dadee2; font-family: 'Open Sans', sans-serif; font-weight:600; color:#01546e; margin-top:15px;}

.first-col, .second-col, .third-col{ border-right:1px solid #fff;}
.first-col{}
.second-col{}
.second-col .head-half{ padding:10px 5px; min-height:61px;}
.third-col{}
.four-col{}
.four-col .head-full{ border:0; padding:10px 5px;}


.head-full, .head-half{ text-align:center; padding:5px}
.head-full{ border-bottom:1px solid #fff;}
.head-half{ border-right:1px solid #fff;}
.head-half:last-child{ border-right:0;}


.first-data-col .data-half.leftborder{border-left:1px solid #dadee2;}
.four-data-col .data-full{border-right:1px solid #dadee2; min-height:61px; border-bottom:1px solid #dadee2;}
.data-full, .data-half{ padding:0; text-align:center;}
.data-half{border-right:1px solid #dadee2; border-bottom:1px solid #dadee2; min-height:61px; padding-top:10px; padding-bottom:10px;}
.hightlight-data{ color:#5f2e4f;}
.mob-head{ display:none;}

/* page 1*/
.btn-submit2{ background:url(../images/search-btn2.jpg) no-repeat; width:41px; height:35px; overflow:hidden; display:inline-block; text-indent:-97px; border:0; background-color:transparent; margin-top:25px; border-radius:0; float:left; }
.flt_left { float:left; }
.bg-color input { background-color:#e5e5e5 !important; }
.bg-color select { background-color:#e5e5e5 !important; }

label.red_font { color:#ff0000; }
.check_title { float:left; margin:0; padding:0;  }
.check_box { float:left; margin:7px 0 0 0; padding:0; }
.check_box input[type="radio"] { border:1px solid #000 !important ;  }
.form-group textarea { width:100%; float:left;  }

/**/
.top_date { color:#808080; margin:40px 0 10px 0;}
.widecolumn { margin-top:30px; }
.headings { color:#01546e; text-align:center; font-weight:bold; margin:0; padding:8px; border-bottom:1px solid #fff; border-right:1px solid #fff;}
.bg-color { background-color:#dadee2; margin:0; padding:0;  }
.bdr-btm { margin:0; padding:8px; }
.red-font { color:#5f2e4f; }
.data { background-color:#fff; border:1px solid #dadee2; margin:0; padding:0; min-height:42px; color:#000; font-weight:normal; font-size: 12px; text-align:center;      }
.min-height { min-height:41px; padding:0; margin:0;   }
.first { display:none; }
.btm_btn { text-align:right; margin-top:20px;   }
.btm_btn button { width:90%; }
.no-margin { margin:0; padding:0; }
.view_btn { margin:10px 0 20px 0; display:none; 	 }



.tabs-menu{list-style-type:none; margin:0; padding:0;background-color:#eaeaea; border:1px solid #bababa; display:block;}

.tabs-menu li{border-left:1px solid #bababa; display:block; float:left;}
.tabs-menu li:first-child{border-left:0px;}
.tabs-menu li.current{ position:relative; z-index:5; background: #6ca2b3; /* Old browsers */
background: -moz-linear-gradient(top,  #6ca2b3 0%, #016483 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6ca2b3), color-stop(100%,#016483)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #6ca2b3 0%,#016483 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #6ca2b3 0%,#016483 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #6ca2b3 0%,#016483 100%); /* IE10+ */
background: linear-gradient(to bottom,  #6ca2b3 0%,#016483 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ca2b3', endColorstr='#016483',GradientType=0 ); /* IE6-9 */
}
.tabs-menu li a{ padding:10px 25px;  text-transform:capitalize; font-size:16px;  color:#01546e;  text-decoration:none; display:block;}
.tabs-menu li:last-child a{ padding:10px 27px;}
.tabs-menu .current a{ color:#fff}
.tab{ border:1px solid #d4d4d1;  background-color:#fff;  float:left;  margin-bottom:20px;  width:auto}
.tab-content{display:none; padding-top:20px; padding-bottom:20px; clear:both;}
#tab-1{ display:block}
.mob-tabmenu{ display:none;}
@media (min-width: 992px) and (max-width: 1199px) {
.table-data{ width:100%; margin:0; padding:0; overflow:scroll; overflow-y:hidden;}

.tabs-menu li a{ padding:10px 14px; }
.tabs-menu li:last-child a{ padding:10px 15px; }
}
@media screen and (max-width: 991px) {
	.tabs-menu{ display:none;}
.mob-tabmenu{background: #6ca2b3; /* Old browsers */ cursor:pointer; display:block;
background: -moz-linear-gradient(top,  #6ca2b3 0%, #016483 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6ca2b3), color-stop(100%,#016483)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #6ca2b3 0%,#016483 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #6ca2b3 0%,#016483 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #6ca2b3 0%,#016483 100%); /* IE10+ */
background: linear-gradient(to bottom,  #6ca2b3 0%,#016483 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ca2b3', endColorstr='#016483',GradientType=0 ); /* IE6-9 */
color:#fff; padding:10px 20px; font-size:16px;
}
.mob-tabmenu span{ background:url(../images/white-arrow.png) no-repeat right 6px; width:100%; display:block;}
.tabs-menu{border:0;}
.tabs-menu li:first-child{border-left:1px solid #bababa; border-right:1px solid #bababa;}
.tabs-menu li{width:100%; border-bottom:1px solid #bababa; border-left:1px solid #bababa; border-right:1px solid #bababa;}
.tabs-menu li a, .tabs-menu li:last-child a{padding:10px 20px;}
.tabs-menu li.current{background:none; }
.tabs-menu .current a{color:#01546e;}
}
@media screen and (max-width: 768px) {
.heading{ display:none;}
.mob-head{ display:block; border-left:1px solid #fff; background:#dadee2; font-family: 'Open Sans', sans-serif; font-weight:600; color:#01546e; text-align:center; padding-bottom:8px; padding-top:8px; margin-bottom:5px;}

.mob-head.leftborder{ border-left:0;}
.data-half{ min-height:71px; padding-bottom:0; padding-top:0;}
.data-half:first-child{ border-left:1px solid #dadee2;}
.first-data-col, .second-data-col, .third-data-col, .four-data-col{ margin:0 0 10px;}
.data-half.leftborder, .data-full.leftborder{ border-left:1px solid #dadee2;}
.first-data-col .data-half{ min-height:88px;}
.four-data-col .data-full{min-height:71px; }
.view_btn { margin:10px 0 20px 0; display:block; text-align:right;}


.table-bordered > thead > tr > th{ display:none;}
.table-bordered > tbody > tr > td{ display:block; padding-left:34%; position:relative; float:left; width:100%; border-top:0; border-bottom:1px solid #ddd; text-align:left;}
.table-bordered > tbody > tr.viewmore-wrap > td:nth-child(4){border-top:1px solid #ddd;}
.table-bordered > tbody > tr > td span.title{ display:block; position:absolute; background:#dadee2; color:#01546e; left:0; width:30%; padding:8px 10px; top:0; border-bottom:1px solid #c9c9c9; font-family: 'Open Sans', sans-serif; font-weight:600; text-align:left;}

.table-bordered > tbody > tr.viewmore-wrap{ overflow:hidden; display:block; position:relative; height:160px; -webkit-transition: height 0.5s linear;
-moz-transition: height 0.5s linear; -ms-transition: height 0.5s linear; -o-transition: height 0.5s linear; transition: height 0.5s linear; margin-bottom:15px;}
.table-bordered > tbody > tr.viewmore-wrap > td.viewmore{ position:absolute; bottom:0; display:block; background:#fff; border:0; padding:0;}
a.viewmore-btn, a.viewless-btn{ border:1px solid #dadee2; color:#01546e; text-decoration:none; padding:10px; float:right; min-width:120px;}
a.viewmore-btn:hover, a.viewless-btn:hover{text-decoration:none;}
a.viewmore-btn{ background:url(../images/plus-ico.png) no-repeat 90% 10px;}
a.viewless-btn{ background:url(../images/minus-ico.png) no-repeat 90% 10px;}

.table-bordered > tbody > tr > td.categ, 
.table-bordered > tbody > tr > td.name, 
.table-bordered > tbody > tr > td.endereco
{display:block; width:32%; float:left; height:auto; padding:0; color:#5f2e4f; text-align:center; min-height:110px; margin-bottom:15px;}


.table-bordered > tbody > tr > td.categ span.title, 
.table-bordered > tbody > tr > td.name span.title, 
.table-bordered > tbody > tr > td.endereco span.title
{width:100%; position:relative; text-align:center; margin-bottom:10px;}

.table-bordered > tbody > tr > td.categ{ margin-right:2%;}
.table-bordered > tbody > tr > td.name{margin-right:2%; }
.table-bordered > tbody > tr > td.endereco{}


/*page 2*/
.first { display:block; margin:0; padding:0;  }

.btm_btn { text-align:center;  margin:0; padding:0; }
.hide_cont { display:none; }
.default_none { display:none; }
}
@media screen and (max-width: 767px) {
.btn-grey, .btn-grey-active{ width:100%; margin-bottom:10px;}
.first-data-col, .second-data-col, .third-data-col, .four-data-col{ margin:15px 15px 0;}

form.bottom_row  { width:100%; padding:0; }
.form-group textarea { min-height:250px; }


}
@media (min-width: 320px) and (max-width: 360px) {
.btn-submit{ float:none; margin-right:0;}
.table-bordered > tbody > tr > td.categ span.title, 
.table-bordered > tbody > tr > td.name span.title, 
.table-bordered > tbody > tr > td.endereco span.title{ margin-bottom:5px;}
}
